*,
*::before,
*::after {
	box-sizing: border-box;
}
body, html {
	min-height: 100%;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1.125rem;
	line-height: 1.5;
	color: #242424;

}

.wrapper {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
}

nav ul {
	display:flex;
	justify-content: space-between;
	list-style: none;
}